{
    "swagger": "2.0",
    "info": {
        "description": "This is a simple example NodeJS API project to demonstrate Swagger Documentation",
        "version": "1.0.0",
        "title": "Photoss API",
        "contact": {
            "email": "abc@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "schemes": ["https"],
    "host": "api.kouz.homes",
    "basePath": "/api/externalapi/",
    "paths" : {
        "/photos" : {
            "get" : {
                "summary" : "Get all the photoss",
                "description": "Get all the photoss",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "title from igame",
                        "required": false,
                        "explode": true,
                        "schema": {
                          "type": "string",
                          "default": "available",
                          "enum": [
                            "available",
                            "pending",
                            "sold"
                          ]
                        }
                    },
                    {
                        "name": "album.title",
                        "in": "query",
                        "description": "Album title from Album",
                        "required": false,
                        "explode": true,
                        "schema": {
                          "type": "string",
                          "default": "available",
                          "enum": [
                            "available",
                            "pending",
                            "sold"
                          ]
                        }
                    },
                    {
                        "name": "album.user.email ",
                        "in": "query",
                        "description": "Email fron user",
                        "required": false,
                        "explode": true,
                        "schema": {
                          "type": "string",
                          "default": "available",
                          "enum": [
                            "available",
                            "pending",
                            "sold"
                          ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Photos"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value",
                        "schema": {
                            "$ref": "#/definitions/InvalidResponse"
                        }
                    }
                }
            }
        },
        "/photos/{id}" : {
            "get" : {
                "summary" : "Get photos by id",
                "description": "Get photos by id",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "title from igame",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                          }
                    }
                ],
                
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Photos"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value",
                        "schema": {
                            "$ref": "#/definitions/InvalidResponse"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "photosResponse": {
            "type": "object",
            "properties": {
                "id": {
                     "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "Company": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "catchPhrase": {
                    "type": "string"
                },
                "bs": {
                    "type": "string"
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
               },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "website": {
                    "type": "string"
                },
                "company": {
                    "$ref": "#/definitions/Company"
                }
            }
        },
        "Album": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/User"
                }
            }
        },
        "Photos": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "thumbnailUrl": {
                    "type": "string"
                },
                "album": {
                    "$ref": "#/definitions/Album"
                }
            }
        },
        "InvalidResponse": {
            "type": "object",
            "properties": {
                "statusCode": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }

        }
    }
}

